<tr class="<%= cycle('odd', 'even') %>">
  <td><%= link_to customer, project_customer_url(@project, customer) %></td>
  <td align="right">
    <small>
      <%= link_to_tasks customer %>
      <%= link_to_new_task customer %>
    </small>
  </td>
</tr>

