<div class="contextual">
  <%= link_to l(:label_customer_new), new_project_customer_url(@project), :class => 'icon icon-add' %>
  <% form_tag project_customers_url(@project), :method => :get do %>
    <%= label_tag :q, l(:label_search) %>
    <%= text_field_tag :q %>
  <% end %>
</div>

